<div id="container">
  <!--<strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
-->
  <div class="start-btn">
  <ion-button shape="round" size="large"  class="start-btn-content"  fill="clear"><!--fill="outline"-->
    START
  </ion-button>
</div>
  <div>
    <p><b>Lorem ipsum </b>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
  </div>

  <div class="input">
    <ion-input placeholder="Write what are you doing?"></ion-input>
  </div>
  <div class="chips">
    <ion-chip color="warning" >
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label color="warning">My Company's name</ion-label>
      <ion-icon name="close-circle" color="warning"></ion-icon>
    </ion-chip>
    <ion-chip color="warning" outline="true">
      <ion-label color="warning">Study English </ion-label>
    </ion-chip>
    <ion-chip color="warning" outline="true">
      <ion-label color="warning">Some project</ion-label>
    </ion-chip>
    <ion-chip color="warning" outline="true">
      <ion-label color="warning">kit kat</ion-label>
    </ion-chip>

  </div>

  </div>

