
<ion-content>

<ion-header>
<ion-text>
  <h3 class="bold-3d">Welcome to your work calendar</h3>
</ion-text>
</ion-header>

  <form [ngClass]="{'hidden-list': !showMenu , 'show-list' : showMenu}">
  <div class="input">
    <ion-input placeholder="Email" #userName required></ion-input>
  </div>

  <div class="input">
    <ion-input placeholder="Password" #userPassword required></ion-input>
  </div>



 <div class="coloured-btn">
  <ion-button (click)="authService.signIn(userName.value, userPassword.value)">
    Iniciar sesión
  </ion-button>
  </div>


</form>

  <div [ngClass]="{'hidden-list': showMenu , 'show-list menu' : !showMenu}">


      <ion-button  class="btn-show" fill="clean"
                   (click)="showSlide()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>

    <div class="common-btn">
      <ion-item lines="none">
        <ion-img slot="end" src="../../assets/icon/google.png"
                 (click)="authService.googleAuth()"></ion-img>
        <ion-label>Entrar con </ion-label>
      </ion-item>
    </div>

    <div class="common-btn" (click)="createNewUser()">
      <ion-item lines="none">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label routerLink="/signup">Crear usuario</ion-label>
      </ion-item>
    </div>


    <div class="common-btn">
      <ion-item lines="none">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Recuperar contraseña</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer [ngClass]="{'hidden-list show-footer': showMenu , 'show-list hide-footer' : !showMenu}">
  <div class="show-btn">
    <ion-button  class="btn-hide" fill="clean"
    (click)="showSlide()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
