//Shared coponent's style
//https://jordanbenge.medium.com/ionic-4-time-to-tidy-up-your-scss-72fe96b1b5b3

ion-item{
//--padding-start: 0;
 // --padding-top: 10px;
}

.input{
  margin: 10%;
  background: linear-gradient(177deg, #7ba7af 0%, rgb(217 239 243 / 99%) 70%);
  padding: 2px;
  border-radius: 20px;
}
ion-input{
  height: 60px;
  border-radius: 20px;
 // --background: #bbdce0 !important;
  --color: #3e828e !important;
  font-weight: 500;
  --padding-start: 20px !important;
  --background: linear-gradient(214deg, rgb(184, 216, 221) 30%, rgb(216, 250, 255) 80%)  !important;

  -webkit-box-shadow: inset 7px 4px 8px -1px rgba(104,150,158,1);
  -moz-box-shadow: inset 7px 4px 8px -1px rgba(104,150,158,1);
  box-shadow: inset 7px 4px 8px -1px rgba(104,150,158,1);
}

//Main button orange
.coloured-btn{
  display: flex;
  ion-button{
    width: 100%;
    height: 60px;border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 10px #3d7f8bc4, -0.2rem -0.2rem 6px #cff0f5;
    margin: 4% 10%;
    align-content: center;
    --border-radius: 20px;
    --color: #b8d8dd !important;
    --background: #0d5461;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;}
}
// Large buttons transparent
.common-btn {
  display: flex;
  ion-item{
    height: 60px;
    margin: 4% 10% ;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #a8cad0;
    --background: transparent;
    box-shadow: 0.2rem 0.2rem 10px #3d7f8bc4, -0.2rem -0.2rem 6px #cff0f5;
    color: #3d7f8b !important;
    display: flex;
  }
}
//Header text
.bold-3d{ font-family: 'Raleway', sans-serif;
font-size: 50px;
  font-weight: 900;
  color: #b2d1d6 ;
  text-shadow:-1px -1px 1px #e2fbff, 4px 2px 4px #7dacb3;
}
ion-header{
  padding: 10%;
}
//
.btn-clean-danger{
  color: #27454f;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 10%;
}
ion-button{font-family: 'Raleway', sans-serif;
font-weight: 500;}

ion-toolbar{    --background: #b2d1d6;}
.no-padding{
  padding-bottom: 0;
}
