
<ion-content>



<form>
  <div class="input">
    <ion-input placeholder="Email"></ion-input>
  </div>

  <div class="input">
    <ion-input placeholder="Password"></ion-input>
  </div>

  <div class="coloured-btn">
  <ion-button >
    Entrar

  </ion-button>
  </div>

  <div class="common-btn">
    <ion-button expand="block" >
     <span slot="start" >Crear usuario</span>
      <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>



</form>

</ion-content>
