
<ion-content>

<ion-header>
<ion-text>
  <h3 class="bold-3d">Welcome to your work calendar</h3>
</ion-text>
</ion-header>

  <form>
  <div class="input">
    <ion-input placeholder="Email"></ion-input>
  </div>

  <div class="input">
    <ion-input placeholder="Password"></ion-input>
  </div>


    <ion-button fill="clean"  slot="end" color="warning" class="btn-clean-danger">
     Recuperar contraseña
    </ion-button>

 <div class="coloured-btn">
  <ion-button >
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    Iniciar sesión
  </ion-button>
  </div>


  <div class="common-btn">
    <ion-item lines="none">
      <ion-img slot="end" src="../../assets/icon/google.png"></ion-img>
      <ion-label>Entrar con </ion-label>
    </ion-item>
  </div>

  <div class="common-btn">
  <ion-item lines="none">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    <ion-label>Crear usuario</ion-label>
  </ion-item>
  </div>

</form>

</ion-content>
