.start-btn{
  display: flex;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  box-shadow:1rem 0.4rem 30px #3d7f8b, -1rem -1rem 30px #cff0f5;
  align-content: center;
  border: 2px solid #a3c9cf;
  z-index: 0;
  margin: 2rem 1rem;
}
.start-btn-content{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-weight: 800;
 // opacity: 0.9;
 background: linear-gradient(-45deg, #f4feff -10%, #3e828e 80%);
  object-fit: cover;
  color:#0e6979;
  z-index: 1;

}
ion-label{
    h2 {
      color: #27454f;
    }
}
ion-chip{
  --background: var(--ion-color-warning, #ffc409) !important;
  --color: #b2d1d6;
}
.ion-color.sc-ion-label-ios-h {
   color: inherit;
}
