
  <div class="start-btn">
  <ion-avatar>
  <ion-img src="https://lh3.googleusercontent.com/a-/AOh14GjKil4PTfoO6d_-bDHEYeozBrJR01F8VXyMZQtz=s96-c"></ion-img>
  </ion-avatar>
</div>

<ion-list>
  <ion-item>
    correo verificado
  </ion-item>
  <ion-item>
    Kseniya Turava
  </ion-item>
  <ion-item>
   xturava@gmail.com
  </ion-item>
  <ion-item>
    6753423234
  </ion-item>

  <ion-item lines="none">
   <ion-label>
     <ion-text><h3>Calle/ Camprodon 10 Principal 1</h3></ion-text>
   </ion-label>
  </ion-item>
  <ion-item>
    Barcelona
  </ion-item>
  <ion-item>
    08012
  </ion-item>
</ion-list>
