#container {
  text-align: center;

  //  position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
  background-color: #b2d1d6;
  // padding: 100px 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.start-btn{
  display: flex;
  border-radius: 50%;
  width: 200px;
  height: 200px;
 // padding: 30px;
  background: linear-gradient(-45deg,#c6e7ec  20%, #3e828e 80%);
  box-shadow: 0.2rem 0.2rem 50px #3d7f8b, -1rem -1rem  10px #cff0f5;
  margin: 10% ;
 // opacity: 0.5;
  align-content: center;
  border: 4px solid #a3c9cf;
}
.start-btn-content{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-weight: 800;
  //opacity: 0.5;
  background: linear-gradient(-45deg, #f4feff -10%, #3e828e 80%);
  color:#0e6979;
  z-index: 1;
}
.start-btn-content:active {
  transform: scale(0.5) translate(-100%, -100%);
  color: #1da27b;
  // background-color: #3e8e41;
  // box-shadow: 0 5px #666;
  // transform: translateY(4px);
}
p{
  padding: 10%;
  text-align: start;
}
.input{
  padding: 10%;
}
ion-input{border-radius: 20px;
  --background: #bbdce0 !important;
  color: #005969;
  font-weight: 500;
}

.chips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  margin-left: 10%;
}

ion-img{
  position: center;
  object-fit: cover;
  --border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 190px;
  height: 190px;
}
