
  <div class="start-btn">
  <ion-avatar>
  <ion-img src="https://lh3.googleusercontent.com/a-/AOh14GjKil4PTfoO6d_-bDHEYeozBrJR01F8VXyMZQtz=s96-c"></ion-img>
  </ion-avatar>
</div>

<ion-list>
  <ion-item>
    correo verificado
  </ion-item>
  <ion-item>
    {{user['user'].name}}  {{user['user'].surname}}
  </ion-item>
  <ion-item>
    {{user['user'].email}}
  </ion-item>
  <ion-item>
    {{user['user'].phone}}
  </ion-item>

  <ion-item lines="none">
   <ion-label>
     <ion-text><h3>{{user['user'].adress}}</h3></ion-text>
   </ion-label>
  </ion-item>
  <ion-item>
    {{user['user'].pc}}
  </ion-item>
  <ion-item>
    {{user['user'].city}}
  </ion-item>
  <ion-item>
    {{user['user'].country}}
  </ion-item>
  <ion-item>
    {{user['user'].birthday}}
  </ion-item>
</ion-list>
